name: cfssl docker

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    tags:
      - "v*"
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          # github container registry
          - registry: "ghcr.io"
            username: ${{ github.actor }}
            password_secret: GITHUB_TOKEN
            image: ghcr.io/cloudflare/cfssl
          # docker test publish, todo: switch to service account
          - registry: ""
            username: nicky
            password_secret: DOCKER_REGISTRY_TOKEN_NICKY
            image: cfssl/cfssl
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Docker hub
        uses: docker/login-action@v2
        with:
          registry: ${{ matrix.registry }}
          username: ${{ matrix.username }}
          password: ${{ secrets[matrix.password_secret] }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ matrix.image }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/s390x
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
